# Python-related files & folders
.venv/
__pycache__/
tests/
*.pyc
.python-version

# Git-related files & folders
.git/
.github/
.gitignore
README.md

# VSCode-related folders
.devcontainer/
.vscode/
*.code-workspace

# Sensitive files (don't be dumb!)
.env