# sensitive files (don't be dumb!)
.env

# Python folders
.venv/
__pycache__/
.pytest_cache/
*.pyc

# VSCode-related folders
.devcontainer/
.vscode/
*.code-workspace

# GitHub folders - will remove once the CI/CD pipeline is set up
.github/*